@page "/Details/{PokemonId}"

<MudGrid Class="pa-4">

    @* Left — image only *@
    <MudItem xs="12" sm="5" Class="d-flex align-center justify-center">
        <img class="pokemonImage" src="@PokemonDetails?.Picture" alt="@PokemonDetails?.RealName" />
    </MudItem>

    @* Right — name, types, info, stats *@
    <MudItem xs="12" sm="7">
        <MudGrid>

            <MudItem xs="12" Class="d-flex flex-column align-center">
                <MudText Typo="Typo.h3" Align="Align.Center">@PokemonDetails?.RealName</MudText>
                <MudText Typo="Typo.subtitle1" Align="Align.Center" Color="Color.Secondary">#@PokemonDetails?.id</MudText>
                <div class="d-flex gap-2 mt-1">
                    @foreach (var icon in PokemonDetails?.TypeIcons ?? [])
                    {
                        <img class="typeIcon" src="@icon" />
                    }
                </div>
                @if (PokemonSpecies?.EnglishEntry != null)
                {
                    <MudText Typo="Typo.body1" Align="Align.Center" Class="mt-3 px-2 fst-italic">
                        @PokemonSpecies.EnglishEntry
                    </MudText>
                }
            </MudItem>

            <MudDivider Class="my-3" />

            <MudItem xs="6"><MudText Typo="Typo.body1" Align="Align.Right"><b>Height</b></MudText></MudItem>
            <MudItem xs="6"><MudText Typo="Typo.body1">@PokemonDetails?.RealHeight</MudText></MudItem>

            <MudItem xs="6"><MudText Typo="Typo.body1" Align="Align.Right"><b>Weight</b></MudText></MudItem>
            <MudItem xs="6"><MudText Typo="Typo.body1">@PokemonDetails?.RealWeight</MudText></MudItem>

            <MudItem xs="6"><MudText Typo="Typo.body1" Align="Align.Right"><b>Abilities</b></MudText></MudItem>
            <MudItem xs="6">
                @foreach (var ability in PokemonDetails?.abilities ?? [])
                {
                    <MudText Typo="Typo.body1">@ability?.ability?.name</MudText>
                }
            </MudItem>

            <MudDivider Class="my-3" />

            <MudItem xs="12">
                <MudText Typo="Typo.h6" Class="mb-2">Base Stats</MudText>
                <div class="chart-container">
                    <canvas id="statChart"></canvas>
                </div>
            </MudItem>

        </MudGrid>
    </MudItem>

</MudGrid>