@page "/Details/{PokemonId}"

<MudGrid>
    <MudItem xs="6">
        <img id="pokemonPicture" src="@PokemonDetails?.Picture" />
    </MudItem>
    <MudItem xs="6">
        <MudGrid>
                <MudItem xs="12">
                    <MudText Typo="Typo.h3" Align="Align.Center">@PokemonDetails?.RealName</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Right">ID</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Left">@PokemonDetails?.id</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Right">Height</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Left">@PokemonDetails?.RealHeight</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Right">Weight</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Left">@PokemonDetails?.RealWeight</MudText>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Right">Abilities</MudText>
                </MudItem>
                <MudItem xs="6">
                    @if (PokemonDetails != null && PokemonDetails.abilities != null)
                {
                    @foreach (var ability in PokemonDetails.abilities)
                    {
                        <MudText Typo="Typo.body1" Align="Align.Left">@ability?.ability?.name</MudText>
                    }
                }
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.body1" Align="Align.Right">Type(s)</MudText>
                </MudItem>
                <MudItem xs="6">
                <img class="typeIcon" src="@PokemonDetails?.TypeIcons?.FirstOrDefault()" />
                @if (PokemonDetails?.TypeIcons?.Count == 2)
                    {
                        <img class="typeIcon" src="@PokemonDetails?.TypeIcons?.ElementAt(1)" />
                    }             
                    @* <MudText Typo="Typo.body1" Align="Align.Left">@PokemonDetails?.types?.FirstOrDefault()?.type?.name</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Left">@PokemonDetails?.types?.FirstOrDefault(t => t.slot == 2)?.type?.name</MudText> *@
                </MudItem>
                <MudItem>
                    @if (PokemonDetails?.Statistics != null && PokemonDetails?.StatNames != null)
                {
                    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" LegendPosition="Position.Bottom" Width="120%" />
                }
                else
                {
                    <p>Loading chart data...</p>
                }
                </MudItem>
        </MudGrid>
    </MudItem>  
</MudGrid>

<style>
    .mud-chart-bar {
        stroke-width: 40px;
    }

    .mud-charts-bar-series,
    .mud-charts-xaxis {
        transform: translateX(20px) scaleX(0.88);
    }
</style>