@page "/"

<PageTitle>Index</PageTitle>

<table border="1">
    <tr border="1">
        <td>1.</td>
        <td>Bulbasaur</td>
    </tr>
    <tr border="1">
        <td>2.</td>
        <td>Ivysaur</td>
    </tr>
</table>
